{% extends 'base.html.twig' %}

{% block title %}
  Show Profile
{% endblock title %}

{% block content %}
  {% if globals.user is defined and globals.user is not null %}
      {% set user = usertoview %}
  {% endif %}
  <div class="container">
    <h1>{{ user.firstName }} {{ user.surname }}</h1>
    <div></div>
    <div>{{ user.email }}</div>
    <div>{{ user.address }}</div>
    <div>{{ user.postcode.postcode }}</div>
    
  </div>
    <a href="/">Home</a>
{% endblock content %}