{% extends 'base.html.twig' %}

{% block title %}
    Edit whisky
{% endblock title %}

{% block content %}
  
    {% set app = globals.app %}
    
    <div class="container">
      <h1>Edit Whisky</h1>
      <form action="{{ app.urlFor('edit_whisky_process') }}{#/{{whisky.id}}#}" method="POST" novalidate>
        <div class="form-group">
          <input type="hidden" name="id" value="{{whisky.id}}">
          <label for="name">Name</label>
          <input class="form-control" type="text" id="name" name="name" value="{{ whisky.name }}" />
          {#<label for="image">Image</label>
          <input class="form-control" type="file" id="image" name="image" value="{% if app.request.isPost() %}{{app.request.post('image')}}{% endif %}" />#}
          <label for="region">Region</label>
          <select class="form-control" id="region" name="region">
            {% for reg in regions %}
                <option value="{{ reg.id }}" {% if reg.id == whisky.region.id %} selected="selected" {% endif %}>{{ reg.name }}</option>
            {% endfor %}
          </select>
          <label for="distillery">Distillery</label>
          <select class="form-control" id="distillery" name="distillery">
            {% for dist in distillerys %}
                <option value="{{ dist.id }}" {% if dist.id == whisky.distillery.id %} selected="selected" {% endif %}>{{ dist.name }}</option>
            {% endfor %}
          </select>
          <label for="price">Price</label>
          <input class="form-control" type="text" id="price" name="price" value="{{ whisky.price }}" />
          <label for="age">Age</label>
          <input class="form-control" type="number" id="age" name="age" value="{{ whisky.age }}" />
          <label for="alcohol">Alcohol</label>
          <input class="form-control" type="text" id="alcohol" name="alcohol" value="{{ whisky.alcohol }}" />
          <label for="barrel">Barrel</label>
          <select class="form-control" id="barrel" name="barrel">
            {% for bar in barrels %}
                <option value="{{ bar.id }}" {% if bar.id == whisky.barrel.id %} selected="selected" {% endif %}>{{ bar.casktype }}</option>
            {% endfor %}
          </select>          
        </div>
 
        <input class="form-control btn btn-default" type="submit" id="verzend" name="whisky" value="Update whisky" />

      </form>
    </div>
{% endblock content %}