{% extends 'base.html.twig' %}

{% block title %}
  {{ whisky.getName }}
{% endblock title %}

{% block content %}
  <div class="container form">
    <h1>{{ whisky.getName }}</h1>
    <img src="../img/whisky/{{ whisky.getImagePath }}" height="80" width="50">
    <div><strong>Name:</strong></div><div>{{ whisky.getName }}</div>
    <div><strong>Region:</strong></div><div>{{ whisky.region.getName }}</div>
    <div><strong>Distillery:</strong></div><div>{{ whisky.distillery.getName }}</div>
    <div><strong>Bottler:</strong></div><div>{{ whisky.barrel.getCasktype }}</div>
    <div><strong>Age:</strong></div><div>{{ whisky.getAge }} year</div>
    <div><strong>ABV:</strong></div><div>{{ whisky.getAlcohol/100 }} %</div>
    <div><strong>Price:</strong></div><div>{{ whisky.getPrice }} </div>

    <div><strong>Review:</strong></div><div>{{ whisky.short_description }} </div>
    <a href="/" id="return_to_main" class="btn submit btn-defaul margin-bottom-24">
          Return to main menu</a>
  
    {% include 'Comments/_include_comments.html.twig' %}
    
  </div>
    
{% endblock content %}