{% extends 'base.html.twig' %}

{% block title %}
  {{ whisky.getName }}
{% endblock title %}

{% block content %}
  <div id="whisky_id" class="cf container form">
    <h1>{{ whisky.getName }}</h1>
    <dl>
      <img src="../img/whisky/{{ whisky.getImagePath }}" height="80" width="50">
    </dl>
    <dl>
      <dt>Name:</dt>
      <dd>{{ whisky.getName }}</dd>
      <dt>Region:</dt>
      <dd>{{ whisky.region.getName }}</dd>
      <dt>Distillery:</dt>
      <dd>{{ whisky.distillery.getName }}</dd>
      {% if whisky.bottlery is defined and whisky.bottlery is not null %}
      <dt>Bottlery:</dt>
      <dd>{{ whisky.bottlery.getName }}</dd>
      {% endif %}
    </dl>
    <dl>
      <dt>Barrel:</dt>
      <dd>{{ whisky.barrel.getCasktype }}</dd>
      <dt>Age:</dt>
      <dd>{{ whisky.getAge }} year</dd>
      <dt>ABV:</dt>
      <dd>{{ (whisky.getAlcohol/100)|number_format(1) }} %</dd>
      <dt>Price:</dt>
      <dd>&euro; {{ (whisky.getPrice/100)|number_format(2) }}</dd>
    </dl>
    <dl class="clearboth">
      <dt>Review:</dt>
      <dd>{{ whisky.short_description }}</dd>
    </dl>
    
    
      <p>Score</p>
      {% set scores =  whisky.getScores  %}
      {% for score in scores %}         
        <div><strong>{{ score.getCategory.getCategory }}:</strong> {{ (score.getScore/100)|number_format(1) }} /10</div>
      {% endfor %}

    <div class="comments"
      {# comments #}
      {% set comments = whisky.comments %}
      {% include 'Comments/_include_comments.html.twig' %}

      <form action="#">
        <div class="comment-post">
          <div class="form-group">
            <label for="comment">Leave a comment</label>
            <textarea data-whiskyid="{{ whisky.id }}" class="form-control" id="comment-box"></textarea>
          </div>
          <input id="add-comment" class="form-control submit btn btn-default" type="submit" id="submit" name="submit" value="Send" />
        </div>
    </form>
  </div>

{% endblock content %}

{% block extrajs %}
  <script type="text/javascript" src="/js/comments.js"></script>
{% endblock extrajs %}