{% extends 'base_with_right_sidebar.html.twig' %}

{% block title %}The Scotch Lodge{% endblock title %}


  {% block main_column %}

    <nav id="topmenu" class="clearboth">
    <!-- OLD BOOKMARK
      <div id="bookmark">
        <div>
        </div>
      </div>
    -->
      <ul class="nav nav-tabs">
        <li><a href="{{ app.urlFor('main_page') }}">Home</a></li>
        <li><a href="#"> Tab 2 </a></li>
        <li><a href="#"> Tab 3 </a></li>
        <li><a href="#"> Tab 4 </a></li>
      </ul>
    </nav>
    
    <div class="container welcome">
      {% if globals.user is defined and globals.user is not null %}
      {% set user = globals.user %}
        <h1>Have a drink, {{ globals.user.username }}</h1>
      {% if user.isAdmin() %}
        <span class="status">Logged in as admin</span>
      {% else %}
        <span class="status">Logged in as user</span>
      {% endif %}
      {% else %}
        <h1>Welcome stranger </h1>
      {% endif %}
    </div>
    <div id="event_5">
        <h3>Upcoming events:</h3>
        <ul>
        {% for event in events_five %}
          <li>{{ event.Title }} {{ event.EventDate|date('d-m-Y H:i:s') }}</li>        
        {% endfor %}  
        </ul>
      </div>

     <a href="{{ globals.app.urlFor('advanced_search_whisky') }}">Whisky advanced search </a>
    
    {% if globals.user is defined and globals.user is not null %}
    <h2>List of users:</h2>
      <ul> 
      {% for member in members %}
        <li>
          <a href="{{ globals.app.urlFor('profile_show_by_id', {'id': member.id } ) }}">
          {{ member.getFirstName() }} {{ member.getSurname() }}
          </a>
            {% if globals.user is defined and globals.user is not null %}
            {% if user.isAdmin() %}<a href="{{ globals.app.urlFor('profile_editadmin', { 'username' : member.getUsername()} ) }}">Edit</a>{% endif %}
            {% endif %}
        </li>        
      {% endfor %} 
    {% endif %}
  {% endblock main_column %}

  {% block sidebar %}    
      {% include 'menu.html.twig' %}
      <div id="event_5">
        <h3>Upcoming events:</h3>
        <ul>
        {% for event in events_five %}
          <li>{{ event.Title }} {{ event.EventDate|date('d-m-Y H:i:s') }}</li>        
        {% endfor %}  
        </ul>
      </div>
        
      {% include 'Comments/latest_comments.html.twig' %}
      {% include 'Comments/popular_comments.html.twig' %}
  {% endblock sidebar %}


{% block extrajs %}
  <script src="js/main.js"></script>
{% endblock extrajs %}
